/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2025, 2:51:34 PM
    Author     : Mr. Tuan
*/
.image {
    border-radius: 10px
}

.messenger-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.messenger-logo img {
    width: 50px; /* Giảm kích thước */
    border-radius: 50%;
}

